@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
#haiti{
    padding: 80px 0 4% 0;
}
#haiti .haiti-banner{
    width: 100%;
    height: 400px;
    background: url("../assets/image/haiti.png")
    center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 5px #222;
}
#haiti .haiti-title{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    font-family: 'Cinzel', serif;
}
#haiti .haiti-content{
    padding: 0 0 0 10%;
}
#haiti .haiti-content .haiti-sub-title{
    font-family: 'Cinzel', serif;
}
#haiti .haiti-content a{
    text-decoration: none;
    font-size: 17px;
}
#haiti .haiti-content a:hover{
    text-decoration: underline;
}
#haiti .haiti-content ul{
    padding: 2% 0 0 4%;
}
#haiti .haiti-sub-title{
    padding-top: 5%;
    font-size: 30px;
    position: relative;
}
#haiti .haiti-sub-title::after{
    content: '';
    width: 88%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}